#separator {
    margin: 10px;
}
#item-dmenu {
    padding-left: 20px
}
#bar {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
#button:hover {
    background-color: #999
}
#button:focus {
    background-color: #999;
    color: #eee
}
