@import url("../../.cache/wal/colors-waybar.css");

* {
    border: none;
    border-radius: 0;
    color: @background;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window {
    /*background: @background;*/
    /*border-bottom: 3px solid @color5;*/
    background: @foreground;
    border-bottom: 3px solid @color6;
}

#workspaces button #window {
    padding: 0 5px;
    background: @color3;
    border-bottom: 3px solid @color6;
}

/* Removes Strange Hover effect */
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.focused, #mode {
    background: @color2;
    border-bottom: 3px solid @color4;
}

#clock, #battery, #cpu, #memory, #network, #mode, #pulseaudio, #tray {
    padding: 0 10px;
    margin: 0 5px;
    background: @color3;
    border-bottom: 3px solid @color6;
}

#battery.charging {
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: red;
    }
}

#battery.warning:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disconnected {
    background: red;
}