window {
    border: 2px solid black;
    background-color: #333333; 
}

#input {
    border: 2px solid black;
    background-color: #555555; 
    font-size: 18px;
    color: white;
}


#outer-box {
    margin: 10px;
}

#scroll {
    margin: 5px 0px;
    font-size: 16px;
    color: #ccc;
}

#scroll label {
    margin: 2px 0px;
}
